$color-principal-oscuro: darkmagenta;
$color-principal-claro: deeppink;
$sombra-principal-claro: rgb(255, 20, 147,0.45);

$color-bordes: rgba(255, 20, 145, 0.5);
$bg-nav: rgba(255, 255, 255, 0.8);
$hover-nav: rgba(211, 211, 211, 0.4);
$bg-footer: rgb(255, 224, 247);

$bg-calendario: rgba(44, 44, 44, 0.842);

$color-child1: rgba(247, 50, 50, 0.5);
$color-child2: rgba(255, 145, 0, 0.5);
$color-child3: rgba(218, 215, 29, 0.5);
$color-child4: rgba(29, 218, 45, 0.5);
$color-child5: rgba(29, 212, 218, 0.5);
$color-child6: rgba(57, 29, 218, 0.5);
$color-child7: rgba(141, 17, 199, 0.5);
$color-child8: rgba(255, 0, 234, 0.5);
$altura-cards: 14.0625rem;