// #10d5de #4d9da1 #ebfdfe #e6f4f1

$color-principal-oscuro: #4d9da1;
$color-principal-claro: #10d5de;
$sombra-principal-claro: rgba(16, 212, 222, 0.45);

$color-bordes: rgb(77, 157, 161, 0.5);
$bg-nav: rgba(255, 255, 255, 0.8);
$hover-nav: #e6f4f1;
$bg-footer: #ebfdfe;

$bg-calendario: rgba(255, 255, 255, 0.842);

$color-child1: rgba(247, 50, 50, 0.5);
$color-child2: rgba(255, 145, 0, 0.5);
$color-child3: rgba(218, 215, 29, 0.5);
$color-child4: rgba(29, 218, 45, 0.5);
$color-child5: rgba(29, 212, 218, 0.5);
$color-child6: rgba(57, 29, 218, 0.5);
$color-child7: rgba(141, 17, 199, 0.5);
$color-child8: rgba(255, 0, 234, 0.5);
$altura-cards: 14.0625rem;