$color-principal-oscuro: darkmagenta;
$color-principal-claro: deeppink;
$sombra-principal-claro: rgb(255, 20, 147,0.45);
$color-bordes: rgba(255, 20, 145, 0.5);
$bg-nav: rgba(255, 255, 255, 0.8);
$hover-nav: rgba(211, 211, 211, 0.4);
$bg-footer: rgb(255, 224, 247);
