
.container-presentacion {
    display: flex;
    height: 85vh;
    filter: drop-shadow(0 5px 5px black) drop-shadow(-10px 15px 13px $sombra-principal-claro) ;
    overflow: hidden;
}
.presentacion-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    padding: 3.125rem;
    // background-image: linear-gradient(to bottom, rgb(242, 63, 165, 0.1), rgb(241, 57, 179, 0.1), rgb(237, 53, 195, 0.1), rgb(230, 53, 212, 0.1), rgb(219, 57, 230, 0.1), rgb(207, 61, 238, 0.1), rgb(194, 66, 247, 0.1), rgb(178, 71, 255, 0.1), rgb(163, 73, 255, 0.1), rgb(146, 76, 255, 0.1), rgb(129, 77, 254, 0.1), rgb(109, 79, 253, 0.1)),url(../assets/fondo-presentacion.jpg);
    // background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(48, 12, 30 ,0.9), rgb(87, 6, 63, 0.25), rgb(122, 0, 107, 0.15), rgb(149, 0, 162, 0.1), rgb(162, 0, 191, 0.08), rgb(173, 0, 222, 0.08), rgb(180, 0, 255, 0.08), rgb(197, 0, 255, 0.08) , rgb(214, 0, 255, 0.08) , rgb(229, 0, 255, 0.1) , rgba(20, 20, 20, 0.9)) ,url(../assets/fondo-presentacion.jpg);
    // background-image: url(../assets/fondo-presentacion.png);
    background-image:  url("../assets/fondo-presentacion2.webp"), linear-gradient(to right,black, $sombra-principal-claro,$sombra-principal-claro, black);
    background-attachment: fixed;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 93.69%, 1.33% 93.44%, 2.67% 93.17%, 4.00% 92.90%, 5.33% 92.61%, 6.67% 92.32%, 8.00% 92.02%, 9.33% 91.72%, 10.67% 91.42%, 12.00% 91.12%, 13.33% 90.83%, 14.67% 90.54%, 16.00% 90.26%, 17.33% 89.98%, 18.67% 89.72%, 20.00% 89.48%, 21.33% 89.24%, 22.67% 89.03%, 24.00% 88.83%, 25.33% 88.65%, 26.67% 88.50%, 28.00% 88.36%, 29.33% 88.25%, 30.67% 88.16%, 32.00% 88.10%, 33.33% 88.06%, 34.67% 88.05%, 36.00% 88.06%, 37.33% 88.10%, 38.67% 88.16%, 40.00% 88.24%, 41.33% 88.35%, 42.67% 88.49%, 44.00% 88.64%, 45.33% 88.82%, 46.67% 89.01%, 48.00% 89.22%, 49.33% 89.46%, 50.67% 89.70%, 52.00% 89.96%, 53.33% 90.23%, 54.67% 90.51%, 56.00% 90.80%, 57.33% 91.10%, 58.67% 91.40%, 60.00% 91.70%, 61.33% 92.00%, 62.67% 92.29%, 64.00% 92.59%, 65.33% 92.87%, 66.67% 93.15%, 68.00% 93.42%, 69.33% 93.67%, 70.67% 93.91%, 72.00% 94.13%, 73.33% 94.34%, 74.67% 94.53%, 76.00% 94.69%, 77.33% 94.84%, 78.67% 94.96%, 80.00% 95.06%, 81.33% 95.14%, 82.67% 95.19%, 84.00% 95.22%, 85.33% 95.22%, 86.67% 95.19%, 88.00% 95.14%, 89.33% 95.07%, 90.67% 94.97%, 92.00% 94.85%, 93.33% 94.71%, 94.67% 94.54%, 96.00% 94.36%, 97.33% 94.15%, 98.67% 93.93%, 100.00% 93.69%);
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 3.25em;
        text-shadow: 2px 2px 4px $sombra-principal-claro;
        padding: 1.25rem 3.125rem;
        border-radius: .625rem 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    p{
        text-align: center;
        padding: 0 50px;
    }
}

.body-index{
    background-image:     
    linear-gradient(to right, $color-child1, $color-child2),
    linear-gradient(to right, $color-child2, $color-child3),
    linear-gradient(to right, $color-child3, $color-child4),
    linear-gradient(to right, $color-child4, $color-child5),
    linear-gradient(to right, $color-child5, $color-child6),
    linear-gradient(to right, $color-child6, $color-child7),
    linear-gradient(to right, $color-child7, $color-child8),
    linear-gradient(to right, $color-child8, $color-child1);

    background-size: 100% .0625rem, 100% .1875rem, 100% .3125rem, 100% .5rem, 100% .5rem, 100% .3125rem, 100% .1875rem, 100% .0625rem;
    background-position: 0 400px, 0 435px, 0 470px, 0 505px, 0 540px, 0 575px, 0 610px, 0 645px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.reglamento{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    .reglas{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        .regla {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 1rem;
            width: 100%;
            border: 5px inset $sombra-principal-claro;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.9);
            .regla-titulo{
                display: flex;
                flex-wrap: wrap;
                h2 {
                    font-size: 2.5rem;
                    width: auto;
                    align-self: center;
                    text-align: center;
                }
                img {
                    height: 200px;
                    padding: 20px;
                }
            }
            p {
                padding: 1rem 1.25rem;
                line-height: 1.75rem;
                text-align: start;
            }
        }
    }
    .reglas-promo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky; 
        text-align: center;
        top: 30%;
        width: 500px;
        height: 500px;
        margin: 16px 0 0 50px;
        p:first-letter {
            text-transform: uppercase;
        }
        .promo-video{
            height: 100%;
            width: 100%;
            background: url("../assets/publicidad.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.titulo-reglamento{
    display: flex;
    align-items: center;
    margin-left: 50px;
    h1{
        margin: 0 25px;
        font-size: 2.5em;
        padding: 1.25rem 3.125rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(.25rem);
        border-radius: 5rem .625rem ;
    }
    div{
        height: 10px;
        width: 200px;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }
}

.banco_y_comercio {
    background-image: url(../assets/banquero.webp);
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    h1 {
        color: $color-principal-oscuro;
        font-weight: bold;
    }
}