.main-calendario{
    background-color: $bg-calendario;
    
    background-image: 

    linear-gradient(to right, $color-child1, $color-child2),
    linear-gradient(to right, $color-child2, $color-child3),
    linear-gradient(to right, $color-child3, $color-child4),
    linear-gradient(to right, $color-child4, $color-child5),
    linear-gradient(to right, $color-child5, $color-child6),
    linear-gradient(to right, $color-child6, $color-child7),
    linear-gradient(to right, $color-child7, $color-child8),
    linear-gradient(to right, $color-child8, $color-child1),

    linear-gradient($color-child1, $color-child2),
    linear-gradient($color-child2, $color-child3),
    linear-gradient($color-child3, $color-child4),
    linear-gradient($color-child4, $color-child5),
    linear-gradient($color-child5, $color-child6),
    linear-gradient($color-child6, $color-child7),
    linear-gradient($color-child7, $color-child8),
    linear-gradient($color-child8, $color-child1);

    background-size:
    100% .0625rem, 100% .1875rem, 100% .3125rem, 100% .5rem, 100% .5rem, 100% .3125rem, 100% .1875rem, 100% .0625rem,
    .0625rem 100%, .1875rem 100%, .3125rem 100%, .5rem 100%, .5rem 100%, .3125rem 100%, .1875rem 100%, .0625rem 100%;
    background-position:
    0 12.5rem, 0 14.6875rem, 0 16.875rem, 0 19.0625rem, 0 21.25rem, 0 23.4375rem, 0 25.625rem, 0 27.8125rem,
    12.5rem 0, 14.6875rem 0, 16.875rem 0, 19.0625rem 0, 21.25rem 0, 23.4375rem 0, 25.625rem 0, 27.8125rem 0 ;
    background-repeat: no-repeat;
}
.presentacion-calendario {
    @extend .presentacion-index;
    background-image:url(../../assets/top-calendario.jpg);
}
.titulo-calendario{
    @extend .titulo-reglamento;
    color: white;
    padding-top: 1.875rem;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5625rem;
    width: 100%;
    height: 100%;
    margin-top: 1.875rem;
    padding-bottom: 5rem;

    .newcard:nth-child(1) { 
            //background-color: $color-child2;
        button {
            @include botton-newcard;        
            background-color: $color-child1;
        }
    }
    .newcard:nth-child(2) {
        //background-color: $color-child3;
        button {
            @include botton-newcard;        
            background-color: $color-child2;
        }
    }
    .newcard:nth-child(3) {
        //background-color: $color-child4;
        button {
            @include botton-newcard;        
            background-color: $color-child3;
        }
    }
    .newcard:nth-child(4) {
        //background-color: $color-child5;
        button {
            @include botton-newcard;        
            background-color: $color-child4;
        }
    }
    .newcard:nth-child(5) {
        //background-color: $color-child2;
        button {
            @include botton-newcard;        
            background-color: $color-child5;
        }
    }
    .newcard:nth-child(6) {
        //background-color: $color-child7;
        button {
            @include botton-newcard;        
            background-color: $color-child6;
        }
    }
    .newcard:nth-child(7) {
        //background-color: $color-child8;
        button {
            @include botton-newcard;        
            background-color: $color-child7;
        }
    }
    .newcard:nth-child(8) {
        //background-color: $color-child1;
        button {
            @include botton-newcard;        
            background-color: $color-child8;
        }
    }
    .newcard:nth-child(9) {
        //background-color: $color-child2;
        button {
            @include botton-newcard;        
            background-color: $color-child1;
        }
    }
    .newcard:nth-child(10) {
        //background-color: $color-child3;
        button {
            @include botton-newcard;        
            background-color: $color-child2;
        }
    }
    .newcard:nth-child(11) {
        //background-color: $color-child4;
        button {
            @include botton-newcard;        
            background-color: $color-child3;
        }
    }

    .newcard {
        position: relative;
        width: 31.25rem;
        height: $altura-cards;
        overflow: hidden;
        border-radius: .375rem;
        background-color: rgb(219, 219, 219);
        mask:
            radial-gradient(circle .875rem at 25rem top,#0000 98%,#000) top right,
            radial-gradient(circle .875rem at 25rem bottom ,#0000 100%,#000) bottom right;
        mask-size: 100% 50%;
        mask-repeat: no-repeat;
        h2 {
            z-index: 99;
            position: absolute;
            right: 8.125rem;
            font-size: 4em;
            font-weight: bold;
            color: white;
            transition: all 0.2s;
        }

        .dia {
            z-index: 99;
            position: absolute;
            top: 1.25rem;
            right: 2.8125rem;
            color: rgba(51, 51, 51, 0.7);
            font-size: .75em;
            letter-spacing: .125rem;
            width: .75rem;
            text-transform: uppercase;
            font-weight: bold;
            word-wrap: break-word;
            text-align: center;
            transition: all 0.2s;
        }
        .informacion {
            z-index: 99;
            position: absolute;
            color: white;
            width: 18.75rem;
            left: .625rem;
            top: .9375rem;
            text-align: center;
            border-radius: 5rem;
            p {
                opacity: 0;
                font-weight: 600;
                text-shadow: 2px 2px 2px $sombra-principal-claro;
                transition: all 0.4s;
            }
            
            hr {
                opacity: 0;
                transition: all 0.4s;
            }
            h3{
                font-size: 2em;
                text-align: center;
                font-weight: bold;
                transform: translateY(68px);
                transition: all 0.4s;
            }
        }
        .pic {
            z-index: 100;
            width: 25rem;
            height: $altura-cards;
            background-size: 100% 100%;
            filter: grayscale(100%);
            transition: all 0.2s;
        }

        .fa-arrow-right {
            opacity: 0;
            font-size: 1.125em;
            color: #fff;
            transform: scale(0.1);
            z-index: 100;
            position: absolute;
            right: 5rem;
            bottom: 1.5625rem;
            font-size: 2.5em;
            transition: all 0.2s;
        }
        &:hover button {
            transform: scale(14);
        }
        &:hover .fa-arrow-right {
            opacity: 1;
            transform: scale(1);
        }
        &:hover .dia {
            color: #fff;
        }
        &:hover .pic {
            filter: grayscale(0);
        }
        &:hover h2{
            opacity: 0.7;
            transform: translateY(135px);
        }
        &:hover .informacion {
            p {
                opacity: 1;
            }
            h3 {
                transform: translateY(0);
                opacity: 0.6;
            }
            hr {
                opacity: 1;
            }
        }
    }
}