.body--torneo{

    background-image:

    linear-gradient(to right, $color-child1, $color-child1),
    linear-gradient(to right, $color-child2, $color-child2),
    linear-gradient(to right, $color-child3, $color-child3),
    linear-gradient(to right, $color-child4, $color-child4),
    linear-gradient(to right, $color-child5, $color-child5),
    linear-gradient(to right, $color-child6, $color-child6),
    linear-gradient(to right, $color-child7, $color-child7),
    linear-gradient(to right, $color-child8, $color-child8),

    linear-gradient($color-child1, $color-child1),
    linear-gradient($color-child2, $color-child2),
    linear-gradient($color-child3, $color-child3),
    linear-gradient($color-child4, $color-child4),
    linear-gradient($color-child5, $color-child5),
    linear-gradient($color-child6, $color-child6),
    linear-gradient($color-child7, $color-child7),
    linear-gradient($color-child8, $color-child8);

    background-size:
    100% .0625rem, 100% .1875rem, 100% .3125rem, 100% .5rem, 100% .5rem, 100% .3125rem, 100% .1875rem, 100% .0625rem,
    .0625rem 100%, .1875rem 100%, .3125rem 100%, .5rem 100%, .5rem 100%, .3125rem 100%, .1875rem 100%, .0625rem 100%;
    background-position:
    0 12.5rem, 0 14.6875rem, 0 16.875rem, 0 19.0625rem, 0 21.25rem, 0 23.4375rem, 0 25.625rem, 0 27.8125rem,
    12.5rem 0, 14.6875rem 0, 16.875rem 0, 19.0625rem 0, 21.25rem 0, 23.4375rem 0, 25.625rem 0, 27.8125rem 0 ;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .presentacion-concursos {
        @extend .presentacion-index;
        background-image:url("../assets/top-actividades.webp");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: bottom;
    }
    .titulo-torneos{
        @extend .titulo-reglamento;
        padding-bottom: 1.875rem;
        h1{
            padding: 1.25rem 3.125rem;
            backdrop-filter: blur(.25rem);
            border-radius: .625rem 5rem;
        }
    }
    main{
        .contenedor-torneos{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .torneo {
                display: flex;
                flex-direction: column;
                text-align: center;
                height: 700px;
                width: 49vw;
                z-index: 2;
                h2{
                    margin: 20px 0;
                    color: $color-principal-claro;
                    font-size: 2em;
                }
                hr{
                    margin-top: 10px;
                    align-self: center;
                    color: $color-principal-claro;
                    width: 80%;
                }
                img{
                    width: 40vw;
                }
                div{
                    margin: 20px 10px;
                    padding: 15px;
                    background-color: $color-principal-oscuro;
                    color: white;
                    border-radius: 40px
                }
            }
            .concurso {
                @extend .torneo;
                z-index: 1;
                img{
                    margin-left: auto
                }
            }
        }
    }
    
}
