.back-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    padding: .625rem 1.25rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: .3125rem;
}

.back-to-top:hover {
    background-color: #555;
}
