.tarjeta {
    position: relative;
    width: 25rem;
    height: 600px;
    margin: 2.1875rem;
    background: #000;
    border-radius: .9375rem;
    box-shadow: 0 .9375rem 3.75rem rgba(0, 0, 0, 0.5);
    &:hover .cara2 {
        height: 3.75rem;
    }
    &:hover h1{
        display: none;
    }
}
.mes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cara {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 1.875rem;
    width: 100%;
    height: 100%;
    color: rgb(131, 239, 253);
}
.decorado {
    background-color: black;
    color: white;
    margin: 30px;
    text-decoration: underline;
}
.texto__suave {
    color: rgba(82, 235, 255, 0.637);
    font-style: italic;
}
.cara2 {
    text-align: center;
    background-image: linear-gradient(40deg,#fffc00 0%,#fc00ff 45%,#00fffc 100%);
    border-radius: 15px;
    transition: 0.5s;
    h1 {
        color: white;
    }
    h2 {
        text-decoration: none;
        font-size: auto;
        color: #fff;
        text-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
}
.core {
    background-image: linear-gradient(0deg,#ffe600 0%,#ff7300 45%,#ff0000 100%);
}
.cyrodiil {
    background-image: none;
    background-color: black;
    border: .1875rem red solid;
    h1 {
        color: red;
    }
}
.importante {
    color: red;
    font-style: italic;
}
