.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px 20px;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 300px;
    background-color: #666666;
    background-image: 

    linear-gradient(to right, $color-child1, $color-child2),
    linear-gradient(to right, $color-child2, $color-child3),
    linear-gradient(to right, $color-child3, $color-child4),
    linear-gradient(to right, $color-child4, $color-child5),
    linear-gradient(to right, $color-child5, $color-child6),
    linear-gradient(to right, $color-child6, $color-child7),
    linear-gradient(to right, $color-child7, $color-child8),
    linear-gradient(to right, $color-child8, $color-child1),

    linear-gradient($color-child1, $color-child2),
    linear-gradient($color-child2, $color-child3),
    linear-gradient($color-child3, $color-child4),
    linear-gradient($color-child4, $color-child5),
    linear-gradient($color-child5, $color-child6),
    linear-gradient($color-child6, $color-child7),
    linear-gradient($color-child7, $color-child8),
    linear-gradient($color-child8, $color-child1);

    background-size:
    100% 1px, 100% 3px, 100% 5px, 100% 8px, 100% 8px, 100% 5px, 100% 3px, 100% 1px,
    1px 100%, 3px 100%, 5px 100%, 8px 100%, 8px 100%, 5px 100%, 3px 100%, 1px 100%;
    background-position:
    0 10%, 0 15%, 0 20%, 0 25%, 0 30%, 0 35%, 0 40%, 0 45%,
    10% 0, 15% 0, 20% 0, 25% 0, 30% 0, 35% 0, 40% 0, 45% 0, ;
    background-repeat: no-repeat;
    
    :nth-child(1) button {
        @include botton-newcard;        
        background-color: $color-child1;
    }
    :nth-child(2) button {
        @include botton-newcard;        
        background-color: $color-child2;
    }
    :nth-child(3) button {
        @include botton-newcard;        
        background-color: $color-child3;
    }
    :nth-child(4) button {
        @include botton-newcard;        
        background-color: $color-child4;
    }
    :nth-child(5) button {
        @include botton-newcard;        
        background-color: $color-child5;
    }
    :nth-child(6) button {
        @include botton-newcard;        
        background-color: $color-child6;
    }
    :nth-child(7) button {
        @include botton-newcard;        
        background-color: $color-child7;
    }
    :nth-child(8) button {
        @include botton-newcard;        
        background-color: $color-child8;
    }
    :nth-child(9) button {
        @include botton-newcard;        
        background-color: $color-child1;
    }
    :nth-child(10) button {
        @include botton-newcard;        
        background-color: $color-child2;
    }
    :nth-child(11) button {
        @include botton-newcard;        
        background-color: $color-child3;
    }

    .newcard {
        position: relative;
        width: 500px;
        height: $altura-cards;
        overflow: hidden;
        border-radius: .375rem;
        background-color: #fff;
        &:before {
            z-index: 99;
            content: "";
            position: absolute;
            top: -10px;
            right: 128px;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: #666666;
        }
        &:after {
            content: "";
            z-index: 99;
            position: absolute;
            bottom: -10px;
            right: 128px;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: #666666;
        }
        h2 {
            z-index: 99;
            position: absolute;
            right: 130px;
            font-size: 64px;
            font-weight: bold;
            color: white;
            transition: all 0.2s;
        }

        .dia {
            z-index: 99;
            position: absolute;
            top: 20px;
            right: 45px;
            color: rgba(51, 51, 51, 0.7);
            font-size: 12px;
            letter-spacing: 2px;
            width: 12px;
            text-transform: uppercase;
            font-weight: bold;
            word-wrap: break-word;
            text-align: center;
            transition: all 0.2s;
        }
        .social {
            z-index: 99;
            position: absolute;
            color: white;
            width: 300px;
            left: 10px;
            top: 15px;
            text-align: center;
            border-radius: 80px;
            p {
                opacity: 0;
                font-weight: 600;
                text-shadow: 2px 2px 2px $sombra-principal-claro;
                transition: all 0.4s;
            }
            
            hr {
                opacity: 0.7;
                transition: all 0.4s;
            }
            h3{
                text-align: center;
                font-weight: bold;
                transform: translateY(68px);
                transition: all 0.4s;
            }
        }
        .pic {
            z-index: 100;
            width: 400px;
            height: $altura-cards;
            background-size: 100% 100%;
            filter: grayscale(100%);
            transition: all 0.2s;
        }

        .fa-arrow-right {
            opacity: 0;
            font-size: 18px;
            color: #fff;
            transform: scale(0.1);
            z-index: 100;
            position: absolute;
            right: 80px;
            bottom: 25px;
            font-size: 40px;
            transition: all 0.2s;
        }

        &:hover button {
            transform: scale(12.5);
        }
        &:hover .fa-arrow-right {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:hover .dia {
            color: #fff;
        }
        &:hover .pic {
            filter: grayscale(0);
        }
        &:hover h2{
            opacity: 0.7;
            transform: translateY(135px);
        }
        &:hover .social {
            p {
                opacity: 1;
            }
            h3 {
                transform: translateY(0);
                opacity: 0.6;
            }
            hr {
                opacity: 1;
                transform: translateY(-10px);
            }
        }
    }
}

.dr {
    position: absolute;
    bottom: 16px; 
    right: 16px;
    width: 100px;
}
