@media (max-width: 530px) {   
    .newcard {
        width: 23.4375rem;
        height: 300px;
        .pic {
            width: 20rem;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .dia {
            right: 20px;
        }
        .fa-arrow-right {
            right: 35px;
        }

        &:hover h2{
            transform: translateY(200px);
        }
        &:hover button {
            transform: scale(12);
        }
    }
    .contenedor{
        background-image: 
        linear-gradient(to right, $color-child1, $color-child2),
        linear-gradient(to right, $color-child2, $color-child3),
        linear-gradient(to right, $color-child3, $color-child4),
        linear-gradient(to right, $color-child4, $color-child5),
        linear-gradient(to right, $color-child5, $color-child6),
        linear-gradient(to right, $color-child6, $color-child7),
        linear-gradient(to right, $color-child7, $color-child8),
        linear-gradient(to right, $color-child8, $color-child1),
        linear-gradient($color-child1, $color-child1),
        linear-gradient($color-child2, $color-child2),
        linear-gradient($color-child3, $color-child3),
        linear-gradient($color-child4, $color-child4),
        linear-gradient($color-child5, $color-child5),
        linear-gradient($color-child6, $color-child6),
        linear-gradient($color-child7, $color-child7),
        linear-gradient($color-child8, $color-child8);
        background-attachment: fixed;
    }
    footer {   
        .info--footer{
            padding: 0;
            justify-content: center;
            align-items: center;
            transform: translateY(-50px);
            :nth-child(1){
                img{
                    margin: 30px;
                }
                h3{
                    display: none;
                }
            }
            :nth-child(3){
                display: none;

            } 
        }
        .logo--footer{
            h1{
                display: none;
            }
        }
        
        .copy{
            display: inline;
            padding: 10px;
        }
    }
    .body--torneo{
        main{
            section{
                .torneo {
                    height: 550px;
                    width: 90vw;
                    img{
                        width: 80vw;
                    }
                }
            }
            
        }
    }
    .reglamento{
        .reglas{
            .regla{
                .regla-titulo{
                    flex-direction: column;
                    h2{
                        font-size: 2em;
                    }
                    img{
                        width: 200px;
                    }
                }
            }
        }
        .reglas-promo {
            width: 100%;
            margin: 0;

        }
    }
    .titulo-reglamento{
        margin: 0;
        h1{
            margin: 0 25px;
            font-size: 2em;
        }
    }
    
    .main-redes{
        font-size: 1.3em;
    }
    
    .presentacion {
        padding: 0 1.25rem;
        h1{
            font-size: 2.25em;
        }
        p {
            padding: 0;
        }
    }
}