@media (max-width: 991px) {
    .back-to-top {
        display: none;
    }
    header {
        nav {
            .nav-derecha{
                padding: 0;
            }
            img {
                justify-content: center;
                height: 1.875rem;
                width: 1.875rem;
            }
        }
    }

    footer {   
        .redes{
            gap: 5px;
            .fab-txt {
                display: none; 
                visibility: hidden;
                width: 0 !important;
                height: 0 !important;
                margin: 0 !important;
            }
        }
        .info--footer{
            padding: 0;
            width: 100vw;
            justify-content: center;
            align-items: center;
            transform: translateY(-50px);
        }
        hr{
            display: none;
        }
        .logo--footer{
            display: none;
        }
        
        .copy{
            display: inline;
            padding: 10px;
        }
    }
    header{
        nav{
            .nav-derecha{
                
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                .menu {
                    margin-top: 5px;
                    display: none;
                }
                .icono-menu{
                    display: flex;
                    padding: .75rem 1.5625rem .4375rem 1.875rem;
                    background-color: $bg-nav;
                    border-radius: 1.875rem 0 0 1.875rem;
                    border: 1px solid $color-principal-oscuro;
                    .fa-bars{
                        font-size: 2em;
                    }
                }
                .menu-toggle {
                    &.menu-toggle:checked + .menu {
                            display: flex;
                            flex-direction: column;
                            .active{
                                border-bottom: .0625rem solid $color-principal-claro;
                                box-shadow: 0rem -0.125rem .625rem 0rem $sombra-principal-claro;
                            }
                            .nav-item{
                                height: 45px;
                                width: 200px;
                                background-color: $bg-nav;
                                border-radius: 0;
                                a{
                                    width: 100%;
                                }
                                
                            }
                        
                    }
                }
            }
        }
    }
    .body--torneo{
        main{
            section{
                .torneo {
                    height: 500px;
                    width: 90vw;
                }
            }
        }
    }
    .reglamento{
        flex-direction: column;
        align-items: center;
        .reglas{
            width: 100%;
        }
    }

    .info-main-final {
        flex-direction: column;
        gap: 20px 0;
    }
    
    .burbujas {
        justify-content: center;
        .button:nth-child(1) {
            transform: none;
            margin: 0;
        }
        .pupup {
            &:target {
                .pupup-abierto {
                    height: 70vh;
                    .popup-contenido{
                        .pupup-fa {
                            margin: 0;
                        }
                        h4 {
                            margin-top: auto;
                        }
                    }
                }
            }
        }
    }
    .carousel-torneos {
        .swiper {
            width: 100%;
            background: none;
        }
        .swiper-slide {
            width: 130%;
            height: auto;
        }
        .swiper-button-prev {
            display: none;
        }
    }

}