@media (max-width: 991px) {
    .back-to-top {
        margin-bottom: 3.125rem;
    }
    header {
        nav {
            img {
                justify-content: center;
                height: 1.875rem;
                width: 1.875rem;
            }
        }
    }

    .contenedor {
        .newcard {
            mask: none;
        }
    }
    footer {   
        .redes{
            gap: 5px;
            .fab-txt {
                display: none; 
                visibility: hidden;
                width: 0 !important;
                height: 0 !important;
                margin: 0 !important;
            }
        }
        .info--footer{
            padding: 0;
            width: 100vw;
            justify-content: center;
            align-items: center;
            transform: translateY(-50px);
        }
        hr{
            display: none;
        }
        .logo--footer{
            display: none;
        }
        
        .copy{
            display: inline;
            padding: 10px;
        }
    }
}